## DAY 11 of Machine Learning

## Decision Tree Algorithm 
### The decision tree algorithm is a alogrithm which simplifies the data into two parts YES or NO. It is a tree-like model of decision.

## importing the libaries

In [10]:
import math

In [11]:
## Example Dataset 
## We have two classes A and B 
## Number in each class is as folow 
n_A= 4 
n_B= 6 
total =n_A+n_B

In [12]:
## Calculating the propostion 
p_A = n_A/total
p_B = n_B/total

print("Proportion of class A is ", p_A)
print("Proportion of class B is ", p_B)

Proportion of class A is  0.4
Proportion of class B is  0.6

In [13]:
## Entropy of the dataset
# Entropy is a measure of the amount of uncertainty

entropy = -p_A*math.log(p_A,2)-p_B*math.log(p_B,2)
print("Entropy of the dataset is ", entropy)

Entropy of the dataset is  0.9709505944546686

In [14]:
## Gini Impurity
# Gini impurity is a measure of how often a randomly chosen element would be incorrectly classified.
# It is calculated by summing the probability of an item being chosen times the probability of a mistake in categorizing that item. 

gini = 1 - p_A**2 - p_B**2
print("Gini impurity of the dataset is ", gini)

Gini impurity of the dataset is  0.48

# Decision Tree Example with python

In [15]:
## Import the libaraies 
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [16]:
## Load the data 
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# Drop the 'deck' column if it exists
if 'deck' in df.columns:
    df.drop('deck', axis=1, inplace=True)

# Create an imputer for numerical columns (age and fare)
numerical_imputer = SimpleImputer(strategy='median')

# Impute missing values of age and fare using median
df['age'] = numerical_imputer.fit_transform(df[['age']])
df['fare'] = numerical_imputer.fit_transform(df[['fare']])

# Create an imputer for categorical columns (embarked and embark_town)
categorical_imputer = SimpleImputer(strategy='most_frequent')

In [ ]:
name=input("Enter your name ")
print (name)