## ENSEMBLE METHOD BASED ON DECISION TREE

## Ensemble Methods 
### Ensemble methods are the machine learning techiniques that combines several base models in order to produce one optimial predictive model.

## Types of Ensemble methods 
### 1- Bagging (Boostrap Aggregaition)
### 2- Boosting 
### 3- Stacking ( Stacked Generalization )

# **Random Forest Practical Implimentation**

In [40]:
## Importing the libaries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [41]:
## Load the data
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
## Encode the features which are categorical or object using for loop 
le=LabelEncoder()
for i in df.columns:
    if df[i].dtype=='object':
        df[i]=le.fit_transform(df[i])
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [43]:
# Spilit the data into X and y for classification 
X=df.drop('sex', axis=1)
y=df['sex']

In [44]:
# Split the data into train and test
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)

In [ ]:
# Create the model
model=RandomForestClassifier()
# Train the model
model.fit(X_train, y_train)
# Predict the model

y_pred=model.predict(X_test)