# CAT Boost Algorithm in Python

In [5]:
!pip catboost -q

ERROR: unknown command "catboost"

In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, confusion_matrix , classification_report

<frozen importlib._bootstrap>:488: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

In [8]:
## Import the dataset 
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# **Pre- Processing**

In [10]:
## Impute the missing values using  the KNN imputer in embark, embark_town and fair 

from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=5)
## df['embark_town']=imputer.fit_transform(df[['embark_town']])
## df['embarked']=imputer.fit_transform(df[['embarked']])
df['fare']=imputer.fit_transform(df[['fare']])
df['age']=imputer.fit_transform(df[['age']])

In [13]:
## Impute using Pandas 
df['embarked']=df['embarked'].fillna(df['embarked'].mode()[0])
print(df['embarked'].value_counts())  # Output: S  644, C
#  168, Q  2
df['embark_town']=df['embark_town'].fillna(df['embark_town'].mode()[0])
print(df['embark_town'].value_counts())  # Output: Southampton  644, Cherbourg  168, Queenstown  77

embarked
S    646
C    168
Q     77
Name: count, dtype: int64
embark_town
Southampton    646
Cherbourg      168
Queenstown      77
Name: count, dtype: int64